/* CONTENEDOR PRINCIPAL */
.section-profile {
    padding: 1rem;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 6rem;
    height: auto;
}

.opc-profile{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    align-items: center;
}


.group1{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.group2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Efecto hover en cada tarjeta */
.card-profile {
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease; /* animaci칩n suave */
}

.opc-img img{
    width: 2rem;
    height: auto;
}

.profile-link{
    text-decoration: none;
}


.card-profile:hover {
    background-color: #482983;
}

.card-profile:hover h5 {
    color: white;
}

.card-profile:hover .opc-img img {
    filter: brightness(0) invert(1);
}

.card-profile h5 {
    transition: .3s ease;
}

.opc-img img {
    transition: .3s ease;
}

@media (max-width: 768px) {

    .navlinks{
        display: none;
    }

    .nav-right{
        display: none;
    }

    /* Contenedor principal en columna */
    .opc-profile {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    /* Group 1 y Group 2 en columna */
    .group1,
    .group2 {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    /* Card m치s angosta en m칩vil */
    .card-profile {
        width: 100%;
        max-width: 320px; /* opcional, para un look m치s limpio */
    }
}
