/* CONTENEDOR PRINCIPAL */
.section-profile {
    padding: 1rem;
    min-height: 70vh;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 6rem;
    height: auto;
}

.opc-profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.group1{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card-profile{
    background-color: white;
}

