.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.profile img{
    width: 5rem;
    height: auto;
}

.opc-profile{
    display: flex;
    flex-direction: row;     /* ✔ izquierda → derecha */
    flex-wrap: wrap;         /* ✔ permite que bajen de línea */
    gap: 1rem;               /* espacio entre tarjetas */
    justify-content: center; /* opcional: centrarlas */
    width: 100%;
}



.card-profile{
    background-color: white;
    width: 50%;
}