/* CONTENEDOR PRINCIPAL */
.section-profile {
    padding: 1rem;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.profile img{
    width: 6rem;
    height: auto;
}

.opc-profile{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-self: center;
    align-items: center;
}


.group1{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.group2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.card-profile{
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opc-img img{
    width: 2rem;
    height: auto;
}

.option h5{
    text-decoration: none;
}

