.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.profile img{
    width: 5rem;
    height: auto;
}

.opc-profile{
    display: flex;
    flex-direction: column;
}



.card-profile{
    background-color: white;
    width: 50%;
}